In [1]:
import os
import csv
import pandas as pd
# import numpy as pd
from sqlalchemy import create_engine
from config import db_password
import psycopg2

In [2]:
#http://localhost:8889/edit/Resources/nfl_stadiums.csv
file = "Resources/nfl_stadiums.csv"

In [3]:
file_df = pd.read_csv(file, encoding="ISO-8859-1")

In [4]:
file_df.head(12)

,stadium_name,stadium_location,stadium_open,stadium_close,stadium_type,stadium_address,stadium_weather_station_code,stadium_weather_type,stadium_capacity,stadium_surface,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION
0,Alamo Dome,"San Antonio, TX",NaN,NaN,indoor,"100 Montana St, San Antonio, TX 78203",78203,dome,72000,FieldTurf,NaN,NaN,NaN,NaN,NaN
1,Allegiant Stadium,"Paradise, NV",2020.0,NaN,indoor,NaN,NaN,dome,65000,Grass,NaN,NaN,NaN,NaN,NaN
2,Alltel Stadium,"Jacksonville, FL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alumni Stadium,"Chestnut Hill, MA",NaN,NaN,outdoor,"Perimeter Rd, Chestnut Hill, MA 02467",2467,cold,NaN,Grass,NaN,NaN,NaN,NaN,NaN
4,Anaheim Stadium,"Anaheim, CA",1980.0,1994.0,outdoor,"2000 E Gene Autry Way, Anaheim, CA 92806",92806,warm,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arrowhead Stadium,"Kansas City, MO",1972.0,NaN,outdoor,"1 Arrowhead Dr, Kansas City, MO 64129",64129,cold,"76,416",Grass,US1MOJC0028,"KANSAS CITY 5.1 SE, MO US",39.06920,-94.48710,264.9
6,AT&T Stadium,"Arlington, TX",2009.0,NaN,retractable,"1 AT&T Way, Arlington, TX 76011",76011,dome,"80,000",FieldTurf,USC00410337,"ARLINGTON SIX FLAGS, TX US",32.75720,-97.07360,163.4
7,Atlanta-Fulton County Stadium,"Atlanta, GA",1966.0,1991.0,outdoor,"521 Capitol Avenue SE, Atlanta, Georgia 30312",30312,warm,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Balboa Stadium,"San Diego, CA",NaN,NaN,outdoor,"Balboa Stadium, San Diego, CA 92101",92101,warm,NaN,Grass,NaN,NaN,NaN,NaN,NaN
9,Bank of America Stadium,"Charlotte, NC",1996.0,2016.0,outdoor,"800 S Mint St, Charlotte, NC 28202",28202,moderate,"73,778",Grass,USW00013881,"CHARLOTTE DOUGLAS AIRPORT, NC US",35.22360,-80.95520,221.9
10,Bills Stadium,"Orchard Park, NY",1973.0,NaN,outdoor,"1 Bills Dr, Orchard Park, NY 14127",14127,cold,"73,967",FieldTurf,US1NYER0093,"BUFFALO 1.5 W, NY US",42.88900,-78.89010,178.0
11,Busch Memorial Stadium,"St. Louis, MO",1966.0,1995.0,outdoor,"700 Clark Ave, St. Louis, MO 63102",63102,cold,NaN,NaN,USC00238791,"WEBSTER GROVES, MO US",38.56667,-90.36667,189.0

In [5]:
file_df[["stadium_name","stadium_location","stadium_type","stadium_address","stadium_weather_type","stadium_capacity"]].head()

,stadium_name,stadium_location,stadium_type,stadium_address,stadium_weather_type,stadium_capacity
0,Alamo Dome,"San Antonio, TX",indoor,"100 Montana St, San Antonio, TX 78203",dome,72000
1,Allegiant Stadium,"Paradise, NV",indoor,NaN,dome,65000
2,Alltel Stadium,"Jacksonville, FL",NaN,NaN,NaN,NaN
3,Alumni Stadium,"Chestnut Hill, MA",outdoor,"Perimeter Rd, Chestnut Hill, MA 02467",cold,NaN
4,Anaheim Stadium,"Anaheim, CA",outdoor,"2000 E Gene Autry Way, Anaheim, CA 92806",warm,NaN

In [6]:
file_df.dtypes

stadium_name                     object
stadium_location                 object
stadium_open                    float64
stadium_close                   float64
stadium_type                     object
stadium_address                  object
stadium_weather_station_code     object
stadium_weather_type             object
stadium_capacity                 object
stadium_surface                  object
STATION                          object
NAME                             object
LATITUDE                        float64
LONGITUDE                       float64
ELEVATION                       float64
dtype: object

In [7]:
del file_df['stadium_weather_type']

In [8]:
file_df.head(10)

,stadium_name,stadium_location,stadium_open,stadium_close,stadium_type,stadium_address,stadium_weather_station_code,stadium_capacity,stadium_surface,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION
0,Alamo Dome,"San Antonio, TX",NaN,NaN,indoor,"100 Montana St, San Antonio, TX 78203",78203,72000,FieldTurf,NaN,NaN,NaN,NaN,NaN
1,Allegiant Stadium,"Paradise, NV",2020.0,NaN,indoor,NaN,NaN,65000,Grass,NaN,NaN,NaN,NaN,NaN
2,Alltel Stadium,"Jacksonville, FL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alumni Stadium,"Chestnut Hill, MA",NaN,NaN,outdoor,"Perimeter Rd, Chestnut Hill, MA 02467",2467,NaN,Grass,NaN,NaN,NaN,NaN,NaN
4,Anaheim Stadium,"Anaheim, CA",1980.0,1994.0,outdoor,"2000 E Gene Autry Way, Anaheim, CA 92806",92806,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arrowhead Stadium,"Kansas City, MO",1972.0,NaN,outdoor,"1 Arrowhead Dr, Kansas City, MO 64129",64129,"76,416",Grass,US1MOJC0028,"KANSAS CITY 5.1 SE, MO US",39.0692,-94.4871,264.9
6,AT&T Stadium,"Arlington, TX",2009.0,NaN,retractable,"1 AT&T Way, Arlington, TX 76011",76011,"80,000",FieldTurf,USC00410337,"ARLINGTON SIX FLAGS, TX US",32.7572,-97.0736,163.4
7,Atlanta-Fulton County Stadium,"Atlanta, GA",1966.0,1991.0,outdoor,"521 Capitol Avenue SE, Atlanta, Georgia 30312",30312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Balboa Stadium,"San Diego, CA",NaN,NaN,outdoor,"Balboa Stadium, San Diego, CA 92101",92101,NaN,Grass,NaN,NaN,NaN,NaN,NaN
9,Bank of America Stadium,"Charlotte, NC",1996.0,2016.0,outdoor,"800 S Mint St, Charlotte, NC 28202",28202,"73,778",Grass,USW00013881,"CHARLOTTE DOUGLAS AIRPORT, NC US",35.2236,-80.9552,221.9

In [10]:
df1= pd.DataFrame(file_df).fillna(-1)

df1.to_csv('Resources/exports/cleanedstadiums.csv', index = False, header=True)

In [11]:
file2 = "Resources/nfl_teams.csv"

file_df2 = pd.read_csv(file2, encoding="ISO-8859-1")

file_df2.head(3)

,team_name,team_name_short,team_id,team_id_pfr,team_conference,team_division,team_conference_pre2002,team_division_pre2002
0,Arizona Cardinals,Cardinals,ARI,CRD,NFC,NFC West,NFC,NFC West
1,Phoenix Cardinals,Cardinals,ARI,CRD,NFC,NaN,NFC,NFC East
2,St. Louis Cardinals,Cardinals,ARI,ARI,NFC,NaN,NFC,NFC East

In [12]:
del file_df2['team_id_pfr']
del file_df2['team_name_short']
del file_df2['team_conference_pre2002']
del file_df2['team_division_pre2002']

In [13]:
file_df2.dtypes

team_name          object
team_id            object
team_conference    object
team_division      object
dtype: object

In [14]:
file_df2.head(5)

             team_name team_id team_conference team_division
0    Arizona Cardinals     ARI             NFC      NFC West
1    Phoenix Cardinals     ARI             NFC           NaN
2  St. Louis Cardinals     ARI             NFC           NaN
3      Atlanta Falcons     ATL             NFC     NFC South
4     Baltimore Ravens     BAL             AFC     AFC North

In [15]:
df2= pd.DataFrame(file_df2).fillna(-1)

df2.to_csv('Resources/exports/cleanedteams.csv', index = False, header=True)

In [16]:
# http://localhost:8889/edit/Resources/spreadspoke_scores.csv/spreadspoke_scores.csv

file3 = "Resources/spreadspoke_scores.csv/spreadspoke_scores.csv"

file_df3 = pd.read_csv(file3, encoding="ISO-8859-1")

file_df3.head(10)

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,Unnamed: 17
0,9/2/1966,1966,1,False,Miami Dolphins,14.0,23.0,Oakland Raiders,NaN,NaN,NaN,Orange Bowl,False,83.0,6.0,71,NaN,NaN
1,9/3/1966,1966,1,False,Houston Oilers,45.0,7.0,Denver Broncos,NaN,NaN,NaN,Rice Stadium,False,81.0,7.0,70,NaN,NaN
2,9/4/1966,1966,1,False,San Diego Chargers,27.0,7.0,Buffalo Bills,NaN,NaN,NaN,Balboa Stadium,False,70.0,7.0,82,NaN,NaN
3,9/9/1966,1966,2,False,Miami Dolphins,14.0,19.0,New York Jets,NaN,NaN,NaN,Orange Bowl,False,82.0,11.0,78,NaN,NaN
4,9/10/1966,1966,1,False,Green Bay Packers,24.0,3.0,Baltimore Colts,NaN,NaN,NaN,Lambeau Field,False,64.0,8.0,62,NaN,NaN
5,9/10/1966,1966,2,False,Houston Oilers,31.0,0.0,Oakland Raiders,NaN,NaN,NaN,Rice Stadium,False,77.0,6.0,82,NaN,NaN
6,9/10/1966,1966,2,False,San Diego Chargers,24.0,0.0,New England Patriots,NaN,NaN,NaN,Balboa Stadium,False,69.0,9.0,81,NaN,NaN
7,9/11/1966,1966,1,False,Atlanta Falcons,14.0,19.0,Los Angeles Rams,NaN,NaN,NaN,Atlanta-Fulton County Stadium,False,71.0,7.0,57,NaN,NaN
8,9/11/1966,1966,2,False,Buffalo Bills,20.0,42.0,Kansas City Chiefs,NaN,NaN,NaN,War Memorial Stadium,False,63.0,11.0,73,NaN,NaN
9,9/11/1966,1966,1,False,Detroit Lions,14.0,3.0,Chicago Bears,NaN,NaN,NaN,Tiger Stadium,False,67.0,7.0,73,NaN,NaN

In [17]:
yearcount = len(file_df3["schedule_date"].unique())
yearcount

2462

In [18]:
earliest_year = file_df3["schedule_date"].min()
latest_year = file_df3["schedule_date"].max()
earliest_year

'1/1/1967'

In [19]:
latest_year

'9/9/2021'

In [20]:
file_df3.dtypes

schedule_date           object
schedule_season          int64
schedule_week           object
schedule_playoff          bool
team_home               object
score_home             float64
score_away             float64
team_away               object
team_favorite_id        object
spread_favorite        float64
over_under_line         object
stadium                 object
stadium_neutral         object
weather_temperature    float64
weather_wind_mph       float64
weather_humidity        object
weather_detail          object
Unnamed: 17            float64
dtype: object

In [21]:
file_df3['schedule_date'] = pd.to_datetime(file_df3.schedule_date)

In [22]:
file_df3.dtypes

schedule_date          datetime64[ns]
schedule_season                 int64
schedule_week                  object
schedule_playoff                 bool
team_home                      object
score_home                    float64
score_away                    float64
team_away                      object
team_favorite_id               object
spread_favorite               float64
over_under_line                object
stadium                        object
stadium_neutral                object
weather_temperature           float64
weather_wind_mph              float64
weather_humidity               object
weather_detail                 object
Unnamed: 17                   float64
dtype: object

In [23]:
pd.to_datetime("1/1/2021")

Timestamp('2021-01-01 00:00:00')

In [24]:
ts = pd.to_datetime("1/1/2021")

In [25]:
file_df3.loc[file_df3.schedule_date >= ts, :]

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,Unnamed: 17
12918,2021-01-03,2020,17,False,Buffalo Bills,56.0,26.0,Miami Dolphins,MIA,-3.0,42.5,New Era Field,False,NaN,NaN,NaN,NaN,NaN
12919,2021-01-03,2020,17,False,Carolina Panthers,7.0,33.0,New Orleans Saints,NO,-6.0,46.5,Bank of America Stadium,False,NaN,NaN,NaN,NaN,NaN
12920,2021-01-03,2020,17,False,Chicago Bears,16.0,35.0,Green Bay Packers,GB,-4.5,48.5,Soldier Field,False,NaN,NaN,NaN,NaN,NaN
12921,2021-01-03,2020,17,False,Cincinnati Bengals,3.0,38.0,Baltimore Ravens,BAL,-13.5,45,Paul Brown Stadium,False,NaN,NaN,NaN,NaN,NaN
12922,2021-01-03,2020,17,False,Cleveland Browns,24.0,22.0,Pittsburgh Steelers,CLE,-10.5,44.5,FirstEnergy Stadium,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13182,2021-12-26,2021,16,False,New England Patriots,NaN,NaN,Buffalo Bills,NaN,NaN,NaN,Gillette Stadium,False,NaN,NaN,NaN,NaN,NaN
13183,2021-12-26,2021,16,False,New York Jets,NaN,NaN,Jacksonville Jaguars,NaN,NaN,NaN,MetLife Stadium,False,NaN,NaN,NaN,NaN,NaN
13184,2021-12-26,2021,16,False,Philadelphia Eagles,NaN,NaN,New York Giants,NaN,NaN,NaN,Lincoln Financial Field,False,NaN,NaN,NaN,NaN,NaN
13185,2021-12-26,2021,16,False,Seattle Seahawks,NaN,NaN,Chicago Bears,NaN,NaN,NaN,Lumen Field,False,NaN,NaN,NaN,NaN,NaN
13186,2021-12-27,2021,16,False,New Orleans Saints,NaN,NaN,Miami Dolphins,NaN,NaN,NaN,Caesars Superdome,False,72.0,0.0,NaN,DOME,NaN

In [26]:
new_df3 = file_df3.loc[file_df3.schedule_date >= ts, :].fillna(-1)

In [27]:
new_df3.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,Unnamed: 17
12918,2021-01-03,2020,17,False,Buffalo Bills,56.0,26.0,Miami Dolphins,MIA,-3.0,42.5,New Era Field,False,-1.0,-1.0,-1,-1,-1.0
12919,2021-01-03,2020,17,False,Carolina Panthers,7.0,33.0,New Orleans Saints,NO,-6.0,46.5,Bank of America Stadium,False,-1.0,-1.0,-1,-1,-1.0
12920,2021-01-03,2020,17,False,Chicago Bears,16.0,35.0,Green Bay Packers,GB,-4.5,48.5,Soldier Field,False,-1.0,-1.0,-1,-1,-1.0
12921,2021-01-03,2020,17,False,Cincinnati Bengals,3.0,38.0,Baltimore Ravens,BAL,-13.5,45,Paul Brown Stadium,False,-1.0,-1.0,-1,-1,-1.0
12922,2021-01-03,2020,17,False,Cleveland Browns,24.0,22.0,Pittsburgh Steelers,CLE,-10.5,44.5,FirstEnergy Stadium,False,-1.0,-1.0,-1,-1,-1.0

In [28]:
del new_df3['weather_temperature']
del new_df3['weather_wind_mph']
del new_df3['weather_humidity']
del new_df3['weather_detail']
del new_df3['Unnamed: 17']

In [29]:
new_df3.head(10)

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral
12918,2021-01-03,2020,17,False,Buffalo Bills,56.0,26.0,Miami Dolphins,MIA,-3.0,42.5,New Era Field,False
12919,2021-01-03,2020,17,False,Carolina Panthers,7.0,33.0,New Orleans Saints,NO,-6.0,46.5,Bank of America Stadium,False
12920,2021-01-03,2020,17,False,Chicago Bears,16.0,35.0,Green Bay Packers,GB,-4.5,48.5,Soldier Field,False
12921,2021-01-03,2020,17,False,Cincinnati Bengals,3.0,38.0,Baltimore Ravens,BAL,-13.5,45,Paul Brown Stadium,False
12922,2021-01-03,2020,17,False,Cleveland Browns,24.0,22.0,Pittsburgh Steelers,CLE,-10.5,44.5,FirstEnergy Stadium,False
12923,2021-01-03,2020,17,False,Denver Broncos,31.0,32.0,Las Vegas Raiders,LVR,-2.5,50.5,Sports Authority Field at Mile High,False
12924,2021-01-03,2020,17,False,Detroit Lions,35.0,37.0,Minnesota Vikings,MIN,-3.0,53.5,Ford Field,False
12925,2021-01-03,2020,17,False,Houston Texans,38.0,41.0,Tennessee Titans,TEN,-7.0,55.5,NRG Stadium,False
12926,2021-01-03,2020,17,False,Indianapolis Colts,28.0,14.0,Jacksonville Jaguars,IND,-15.5,48,Lucas Oil Stadium,False
12927,2021-01-03,2020,17,False,Kansas City Chiefs,21.0,38.0,Los Angeles Chargers,LAC,-6.5,43,Arrowhead Stadium,False

In [30]:
df3= pd.DataFrame(new_df3).fillna(-1)

df3.to_csv('Resources/exports/clean_spreadscore.csv', index = False, header=True)


# Loading into Sql database

In [31]:
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

In [32]:
missing_values_table(df3)

Your selected dataframe has 13 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [33]:
columns_to_include = ['stadium_name', 'stadium_location', 'stadium_open', 'stadium_close','stadium_type', 'stadium_address', 'stadium_capacity', 'stadium_surface' ]

df1=df1[columns_to_include]
df1

,stadium_name,stadium_location,stadium_open,stadium_close,stadium_type,stadium_address,stadium_capacity,stadium_surface
0,Alamo Dome,"San Antonio, TX",-1.0,-1.0,indoor,"100 Montana St, San Antonio, TX 78203",72000,FieldTurf
1,Allegiant Stadium,"Paradise, NV",2020.0,-1.0,indoor,-1,65000,Grass
2,Alltel Stadium,"Jacksonville, FL",-1.0,-1.0,-1,-1,-1,-1
3,Alumni Stadium,"Chestnut Hill, MA",-1.0,-1.0,outdoor,"Perimeter Rd, Chestnut Hill, MA 02467",-1,Grass
4,Anaheim Stadium,"Anaheim, CA",1980.0,1994.0,outdoor,"2000 E Gene Autry Way, Anaheim, CA 92806",-1,-1
...,...,...,...,...,...,...,...,...
101,War Memorial Stadium,"Buffalo, NY",1960.0,1972.0,outdoor,"285 Dodge Street, Buffalo, NY 14208",-1,-1
102,Wembley Stadium,"London, UK",2007.0,-1.0,outdoor,"Wembley, London HA9 0WS, United Kingdom",-1,-1
103,Wrigley Field,"Chicago, IL",1920.0,1970.0,outdoor,"1060 West Addison Street, Chicago, IL 60613",-1,-1
104,Yale Bowl,"New Haven, CT",-1.0,-1.0,outdoor,"276 Derby Ave, West Haven, CT 06516",-1,Grass
105,Yankee Stadium,"Bronx, NY",-1.0,-1.0,outdoor,-1,-1,-1

In [34]:
engine = create_engine(f'postgresql://postgres:{db_password}@localhost:5432/NFL_DB')
df1.to_sql('stadiums', engine, if_exists = "replace")

df2.to_sql('teams', engine,if_exists = "replace")

df3.to_sql('spread_scores', engine,if_exists = "replace")